@font-face {
  font-family: 'VTF League';
  src: url('/fonts/VTFLeague-ExtraBold.woff2') format('woff2'), url('/fonts/VTFLeague-ExtraBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'VTF League';
  src: url('/fonts/VTFLeague-Black.woff2') format('woff2'), url('/fonts/VTFLeague-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'VTF League';
  src: url('/fonts/VTFLeague-ExtraBoldOblique.woff2') format('woff2'), url('/fonts/VTFLeague-ExtraBoldOblique.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'VTF League';
  src: url('/fonts/VTFLeague-BlackOblique.woff2') format('woff2'), url('/fonts/VTFLeague-BlackOblique.woff') format('woff');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

.text-font-mnh {
  font-family: 'VTF League';
  font-weight: bold;
  font-style: italic;
}

.text-stroke-blackBlue-2 {
  -webkit-text-stroke: 2px #000a1a;
}

.text-stroke-blackBlue-3 {
  -webkit-text-stroke: 3px #000a1a;
}

.bg-purple-twitch {
  background-color: #6441a5;
}

.text-purple-twitch {
  --tw-text-opacity: 1;
  color: rgba(100, 65, 165, var(--tw-text-opacity));
}

.text-7xl {
  font-size: 4.5rem;
  line-height: 1;
}

.text-8xl {
  font-size: 5.25rem;
  line-height: 1;
}

.text-9xl {
  font-size: 6rem;
  line-height: 1;
}

.text-massive {
  font-size: 10rem;
  line-height: 1;
}

.bg-green {
  background-color: rgba(0, 255, 0, 100);
}

.bg-none {
  background-color: rgba(0, 0, 0, 0) !important;
}

.text-youtube-red {
  --tw-text-opacity: 1;
  color: #c4302b;
}

.max-w-5xl {
  max-width: 75rem;
}

@media screen and (min-width: 1025px) {
  .md-show {
    visibility: show;
    clear: both;
    float: left;
    margin: 10px auto 5px 20px;
    width: 28%;
    display: none;
  }
}

@media screen and (max-width: 1024px) {
  .md-hide {
    visibility: hidden;
    clear: both;
    float: left;
    margin: 10px auto 5px 20px;
    width: 28%;
    display: none;
  }
}

.opacity-80 {
  opacity: 0.8;
}
